.profile-pic-main{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border-color: rgb(9, 192, 9);
    border-width: 2px;
    border-style: solid;
    margin-left: 5rem;
    margin-top: 1rem;
    object-fit: cover;    
}

.box-pic{
    width: 18rem;
    height: 15rem;
    background-color: #302F3D;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 5%;
    align-items: center;
}

.text-name{
    font-weight: 700;
    margin-left: 2.7rem;
}

.description{
    font-size: small;
    margin-left: 4.8rem;
}

.basic-info-box{
    display: flex;
    width: 18rem;
    height: 18rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    background-color: #302F3D;
    border-radius: 5%;
}

.descriptors p{
    font-size: small;
    padding-bottom: 0.1rem;
}

.descriptors{
    margin-top: 1.5rem;
    width: 3rem;
    margin-left: 7%;
}

.icons{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
}

.icons img{
    width: 1.5rem;
    margin-top: 0.7rem;
}